.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;

    color: black;


}

.header-left {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0px;
    opacity: 0px;

}

.main-location {
    margin-bottom: -10px;
    font-weight: bold;
}

.sub-location {

    color: black;
}


.header-right {
    display: flex;
    gap: 1rem;
}

.header-right .icon {
    font-size: 1.5rem;
    cursor: pointer;
}


@media (max-width: 768px) {


    .icon {
        font-size: 1.8rem;
    }
}

@media (min-width: 769px) {


    .icon {
        font-size: 1.5rem;
    }
}